<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmybatis.admin.order.mapper.OrderMapper">

	<delete id="removeOrderById" parameterType="String">
		/* 구매자 주문이력 삭제 */
		DELETE
		FROM
			orders o
		WHERE
			o.cust_id = #{customerId};
	</delete>

	<delete id="removeOrderItemByNum" parameterType="list">
		/* 구매번호로 구매상세이력 삭제 */
		DELETE
		FROM
			orderitems oi
		WHERE
			oi.order_no IN
			<foreach collection="list" item="orderNum" open="(" close=")" separator=", ">
				#{orderNum}
			</foreach> 
	</delete>

	<select id="getOrderNumById" parameterType="String" resultType="Integer">
		/* 구매자 구매번호 조회 */
		SELECT
			o.order_no
		FROM
			orders o
		WHERE
			o.cust_id = #{customerId};
	</select>
	
	<delete id="removeOrderItemBySellerId" parameterType="String">
		/* 판매자가 등록한 상품을 구매한 이력 삭제 */
		DELETE 
			oi
		FROM
			vendors v
			JOIN products p ON p.vend_cd = v.vend_cd
			JOIN orderitems oi ON oi.order_prod_cd = p.prod_cd
		WHERE
			v.vend_mbr_id = #{sellerId};
	</delete>
</mapper>
