<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/layout_main}">
	
	<head>
		<meta name="description" content="한국스마트정보교육원 ksmybatis" />
	</head>
	
	<!-- 추가할 페이지 contents -->
	<th:block layout:fragment="contents">
      <div class="content-header">
        <div>
            <h2 class="content-title card-title">메인화면</h2>
            <p class="fs-4 mt-3">관리자 page</p>
        </div>
        
     </div>
	</th:block>
	
	<!-- 추가할 페이지 js file -->
	<th:block layout:fragment="jsFile">

	</th:block>
	
	<!-- 추가할 페이지 script -->
	<th:block layout:fragment="jsScript">

	</th:block>
</html>