<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/layout_main}">
	
	<head>
		<meta name="description" content="한국스마트정보교육원 ksmybatis" />
	</head>
	
	<!-- 추가할 js file -->
	<th:block layout:fragment="jsFile">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</th:block>
	
	<!-- 추가할 script -->
	<th:block layout:fragment="jsScript">
		<script>
			const daumPost = (e) => {
				new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

		                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var roadAddr = data.roadAddress; // 도로명 주소 변수
		                var extraRoadAddr = ''; // 참고 항목 변수

		                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
		                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
		                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                    extraRoadAddr += data.bname;
		                }
		                // 건물명이 있고, 공동주택일 경우 추가한다.
		                if(data.buildingName !== '' && data.apartment === 'Y'){
		                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                }
		                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
		                if(extraRoadAddr !== ''){
		                    extraRoadAddr = ' (' + extraRoadAddr + ')';
		                }

		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById('memberZip').value = data.zonecode;
		                document.getElementById("memberAddress").value = roadAddr;
		                $('#memberZip').val(data.zonecode);
		                $('#memberAddress').val(roadAddr);
		                $('#memberDAddress').focus();
		            }
		        }).open();
			};
			// 우편번호 찾기
			$('#searchPost, #memberAddress, #memberZip').click(daumPost);
			
			// 초기화
			$('#addMemberForm').find('input, button, select')
							   .not('#memberId, #idCheckBtn, button[type="reset"]')
							   .prop('disabled', true);
			
			// 아이디 중복체크
			$('#idCheckBtn').click(e => {
				const memberId = $('#memberId').val();
				if(!memberId) {
					alert('회원아이디를 입력하세요');
					$('#memberId').focus();
					return;
				}
				const request = $.ajax({
					url : '/admin/member/idCheck',
					method : 'post',
					data : {'memberId' : memberId},
					dataType : 'json'
				});
				
				request.done(result => {
					console.log(`result : ${result}, resultType : ${typeof result}`);
					if(result) {
						alert('중복된 아이디');
						$('#memberId').val('').focus();
					} 
					$('#addMemberForm').find('input, button, select')
									   .not('#memberId, #idCheckBtn, button[type="reset"]')
					   				   .prop('disabled', result);
				
				});
				
				request.fail((jqXHR, textStatus, error) => {
					console.log(jqXHR, textStatus, error);
				});
			});
			
			// 회원등록이벤트
			$('#addMemberBtn').click(e => {
				// 태그의 기본동작중지
				e.preventDefault();
				
				const $formData = $('#addMemberForm').find('input, select')
													.not('#memberTelNo');
				let isSubmit = true;
				$formData.each((idx, element) => {
					const value = $(element).val();
					if(!value) {
						alert('필수 입력항목');
						isSubmit = false;
						$(element).focus();
						return false;
					}
				});
				if(isSubmit) {
					const memberTelNo = $('#memberTelNo1').val() + '-' 
									  + $('#memberTelNo2').val() + '-'
									  + $('#memberTelNo3').val();
					$('#memberTelNo').val(memberTelNo);
					
					$('#addMemberForm').submit();
				}
			});
		</script>
	</th:block>
	
	<!-- 추가할 페이지 contents -->
	<th:block layout:fragment="contents">
		<div class="content-header">
            <div>
                <h2 class="content-title card-title">회원등록</h2>
            </div>
        </div>
        <div class="card mb-4 row col-lg-10">
        	<form id="addMemberForm" th:action="@{/admin/member/addMember}" method="post">
	            <header class="card-header" >
	                <div class="row gx-3 justify-content-end">
	                    <div class="col-lg-2 ms-auto d-flex justify-content-between">
	                        <button type="submit" id="addMemberBtn" class="btn btn-success text-white">회원등록</button>
	                        <button type="reset" id="resetBtn" class="btn btn-warning text-white">등록취소</button>
	                    </div>
	                </div>
	            </header>
	            <!-- card-header end// -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col-md-2">
	                        <h6 class="fs-5">1. 필수입력항목</h6>
	                    </div>
	                    <div class="col-md-10">
	                    	<div class="row">	                    	
		                        <div class="mb-4 col-md-6">
		                        	<div class="row align-items-end">
		                        		<div class="col-md-8">		                        		
											<label class="form-label fs-6 fw-bold">회원아이디</label>
											<input type="text" placeholder="아이디를 입력하세요" class="form-control"
													id="memberId" name="memberId">
		                        		</div>		                        	
		                        		<div class="col-md-4">
			                            	<button type="button" id="idCheckBtn"
			                            			class="btn btn-info w-100 justify-content-center text-white fw-bold">중복체크</button>
			                            </div>
		                        	</div>
		                        </div>
		                        <div class="mb-4 col-md-6">
									<label class="form-label fs-6 fw-bold">회원비밀번호</label>
									<input 	type="text" placeholder="비밀번호를 입력하세요" class="form-control"
		                            		id="memberPw" name="memberPw">
		                        </div>
	                    	</div>
	                    	<div class="row">	                    	
		                        <div class="mb-4 col-lg-6">
		                            <label class="form-label fs-6 fw-bold">회원등급</label>
		                            <select class="form-select text-center" id="memberLevel" name="memberLevel">
		                                <option value=""> === 회원등급을 선택하세요 === </option>
											<th:block th:unless="${#lists.isEmpty(gradeList)}"
													  th:each="g : ${gradeList}">
			                                <option th:value="${g.commCd}" th:text="${g.commNm}"></option>		                                
		                                </th:block>
		                            </select>
		                        </div>
		                        <div class="mb-4 col-lg-6">
		                            <label class="form-label fs-6 fw-bold">회원이름</label>
		                            <input type="text" placeholder="이름을 입력하세요" class="form-control"
		                            		id="memberName" name="memberName">
		                        </div>
	                    	</div>
	                    	<div class="row">	                    	
		                        <div class="mb-4 col-lg-6">
		                        	<div class="row align-items-end">
		                        		<div class="col-md-8">		                        		
				                            <label class="form-label fs-6 fw-bold">회원우편번호</label>
					                        <input type="text" placeholder="우편번호를 입력하세요" class="form-control"
					                        		id="memberZip" name="memberZip" readonly="readonly">
		                        		</div>		                        	
		                        		<div class="col-md-4">
			                            	<button type="button" id="searchPost"
			                            			class="btn btn-info w-100 justify-content-center text-white fw-bold">우편번호찾기</button>
			                            </div>
		                        	</div>
		                        </div>
	                    	</div>
	                    	<div class="row">	                    	
		                        <div class="mb-4 col-lg-6">
		                            <label class="form-label fs-6 fw-bold">회원주소</label>
		                            <input type="text" placeholder="주소를 입력하세요" class="form-control"
		                            		id="memberAddress" name="memberAddress" readonly="readonly">
		                        </div>
		                        <div class="mb-4 col-lg-6">
		                            <label class="form-label fs-6 fw-bold">회원상세주소</label>
		                            <input type="text" placeholder="상세주소를 입력하세요" class="form-control"
		                            		id="memberDAddress" name="memberDAddress">
		                        </div>
	                    	</div>
	                    	<div class="row">	                    	
		                        <div class="mb-4 col-lg-6">
		                            <div class="row align-items-end">
		                            	<input type="hidden" id="memberTelNo" name="memberTelNo" />
		                        		<div class="col-md-4">		                        		
				                            <label class="form-label fs-6 fw-bold">회원연락처</label>
					                        <select class="form-select text-center" id="memberTelNo1" name="memberTelNum">
				                                <option value="010"> 010 </option>
				                                <option value="063"> 063 </option>
				                            </select>
		                        		</div>		                        	
		                        		<div class="col-md-4">
			                            	<input type="text" placeholder="번호" class="form-control"
			                            			id="memberTelNo2" name="memberTelNum">
			                            </div>
		                        		<div class="col-md-4">
			                            	<input type="text" placeholder="번호" class="form-control"
			                            			id="memberTelNo3" name="memberTelNum">
			                            </div>
		                        	</div>
		                        </div>
		                        <div class="mb-4 col-lg-6">
		                            <label class="form-label fs-6 fw-bold">회원이메일</label>
		                            <input type="text" placeholder="이메일을 입력해주세요" class="form-control"
		                            		id="memberEmail" name="memberEmail">
		                        </div>
	                    	</div>
	                    </div> <!-- col.// -->
	                </div>
	            </div>
        	</form>
            <!-- card-body end// -->
        </div>
	</th:block>
	
	
</html>










