<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/layout_main}">
	
	<head>
		<meta name="description" content="한국스마트정보교육원 ksmybatis" />
	</head>
	
	<!-- 추가할 js file -->
	<th:block layout:fragment="jsFile">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</th:block>
	
	<!-- 추가할 script -->
	<th:block layout:fragment="jsScript">
		<script>
			$('.del-btn').click(e => {
				e.preventDefault();
				
				const memberId = $(e.target).data('memberId');
				
				Swal.fire({
				  title: "회원탈퇴",
				  text: "정말로 탈퇴하시겠습니까?",
				  icon: "warning",
				  showCancelButton: true,
				  confirmButtonColor: "#3085d6",
				  cancelButtonColor: "#d33",
				  confirmButtonText: "회원탈퇴",
				  cancelButtonText: "탈퇴취소"
				}).then(async(result) => {
					if (result.isDismissed) {
						Swal.fire({
						  title: "취소",
						  icon: "error"
						});
						return;
					}
					const alertObj = {
							title : '탈퇴실패',
							icon : 'error'
					}
					const { value: memberPw } = await Swal.fire({
						title: "회원탈퇴처리",
						input: "password",
						inputLabel: "회원비밀번호",
						inputPlaceholder: "비밀번호를 입력하세요",
						inputAttributes: {
							maxlength: "30",
							autocapitalize: "off",
							autocorrect: "off"
						}
					});
					if (memberPw) {
						// 패스워드 입력받은거
						const memberInfo = {memberId, memberPw};
						console.log(memberInfo);
						
						
						const request = $.ajax({
							url : '/member/api/removeMember',
							method : 'post',
							data : JSON.stringify(memberInfo),
							contentType : 'application/json',
							dataType : 'json',
							async : false
						});
						
						request.done(response => {
							const isDelete = response;
							if(isDelete) {
								alertObj.title = '탈퇴완료';
								alertObj.text = '회원의 탈퇴처리가 완료';
								alertObj.icon = 'success';
							}
						});
						
						request.fail((jqXHR, textStatus, error) => {
							console.log(jqXHR, textStatus, error);
						});
						
						Swal.fire(alertObj).then(result => location.reload());
					}
				});

			});
		</script>
	</th:block>
	
	<!-- 추가할 페이지 contents -->
	<th:block layout:fragment="contents">
		<div class="content-header">
            <div>
                <h2 class="content-title card-title">회원목록조회</h2>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" />
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">
                                	<div class="form-check align-middle">
                                		<input type="checkbox" class="form-check-input" id="allCheck"/>
                                	</div>
								</th>
                                <th scope="col">회원아이디</th>
                                <th scope="col">회원비밀번호</th>
                                <th scope="col">회원이름</th>
                                <th scope="col">회원등급</th>
                                <th scope="col">회원등급이름</th>
                                <th scope="col">회원주소</th>
                                <th scope="col">회원상세주소</th>
                                <th scope="col">회원우편번호</th>
                                <th scope="col">회원연락처</th>
                                <th scope="col">회원이메일</th>
                                <th scope="col">회원등록일자</th>
                                <th scope="col">수정/삭제</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr th:if="${!#lists.isEmpty(memberList)}"
                            	th:each="l : ${memberList}">
                                <td>
                                	<div class="form-check align-middle">
                                		<input type="checkbox" class="form-check-input checkId" th:value="${l.memberId}"/>
                                	</div>
                                </td>
                                <td th:text="${l.memberId}">회원아이디</td>
                                <td th:text="${l.memberPw}">회원비밀번호</td>
                                <td th:text="${l.memberName}">회원이름</td>
                                <td th:text="${l.memberLevel}">회원등급</td>
                                <td th:switch="${l.memberLevelName}">
                                	<span th:case="${'관리자'}" class="badge rounded-pill alert-success">관리자</span>
                                	<span th:case="'판매자'" class="badge rounded-pill alert-warning">판매자</span>
                                	<span th:case="*" class="badge rounded-pill alert-info">구매자</span>
                                </td>
                                <td th:text="${l.memberAddress}"><b>회원주소</b></td>
                                <td th:text="${l.memberDAddress}">회원상세주소</td>
                                <td th:text="${l.memberZip}">회원우편번호</td>
                                <td th:text="${l.memberTelNo}">회원연락처</td>
                                <td th:text="${l.memberEmail}">회원이메일</td>
                                <td th:text="${l.memberRegDate}">회원등록일자</td>
                                <td class="text-center">
                                    <a th:href="@{/admin/member/modifyMember(memberId=${l.memberId})}" class="btn btn-warning font-sm text-white">수정</a>
                                    <a th:href="@{/admin/member/removeMember(memberId=${l.memberId})}" class="btn btn-danger font-sm text-white del-btn"
                                    	th:data-member-id="${l.memberId}">삭제</a>         
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table-responsive //end -->
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-15 mb-50 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
	</th:block>
	
	
</html>










