<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <footer class="main-footer font-xs" th:fragment="footerFragment">
      <div class="row pb-30 pt-15">
          <div class="col-sm-6">
              <script>
                  document.write(new Date().getFullYear());
              </script>
              &copy; Ksmart - ksmart team project .
          </div>
          <div class="col-sm-6">
              <div class="text-sm-end">All rights reserved</div>
          </div>
      </div>
  </footer>
  <footer class="main-footer font-xs" th:fragment="footerFragment2">
      <div class="row pb-30 pt-15">
          <div class="col-sm-6">
              <script>
                  document.write(new Date().getFullYear());
              </script>
              &copy; Nest - HTML Ecommerce Template .
          </div>
          <div class="col-sm-6">
              <div class="text-sm-end">All rights reserved</div>
          </div>
      </div>
  </footer>
</html>