<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmybatis.admin.common.mapper.CommonMapper">
	<!-- select 안쪽 주석과 바깥쪽 주석을 달리하라 -->
	<resultMap type="ksmybatis.admin.common.domain.CommonCode" id="commonResultMap">
		<id 	column="comm_group_cd" 		property="commGroupCd"></id>
		<id 	column="comm_cd" 			property="commCd"></id>
		<result column="comm_group_nm" 		property="commGroupNm"></result>
		<result column="comm_group_eng_nm" 	property="commGroupEngNm"></result>
		<result column="comm_nm" 			property="commNm"></result>
		<result column="comm_eng_nm" 		property="commEngNm"></result>
		<result column="comm_cd_use_yn" 	property="commCdUseYn"></result>
		<result column="comm_cd_reg_date" 	property="commCdRegDate"></result>
	</resultMap>
	<!-- 
		#{memberId} : "id01", 값을 가져올때 쓰임
		${memberId} : id01, 컬럼을 가져올때 쓰임
		Ex)
			where
				${searchColmn} = #{searchValue};
	 -->
	<select id="getCommonCodeListByGroupCode" parameterType="String" resultMap="commonResultMap">
		/* 그룹코드에 일치하는 공통코드목록조회 */
		SELECT
			cgc.comm_group_cd,
			cgc.comm_group_nm,
			cgc.comm_group_eng_nm,
			cc.comm_cd,
			cc.comm_nm,
			cc.comm_eng_nm,
			cc.comm_cd_use_yn,
			cc.comm_cd_reg_date
		FROM
			comm_group_code cgc
			INNER JOIN comm_code cc
			USING(comm_group_cd)
		WHERE 
			cgc.comm_group_cd = #{groupCode};
	</select>
</mapper>