<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmybatis.admin.product.mapper.ProductMapper">
	<!-- resultMap : mybatis 결과데이터를 DTO의 필드와 매핑설정 -->
	<resultMap type="Product" id="productResultMap">
		<id 	column="prod_cd" 		property="prodCd"/>
		<result column="vend_cd" 		property="vendCd"/>
		<result column="prod_name" 		property="prodName"/>
		<result column="prod_untprc" 	property="prodUntPrc"/>
		<result column="prod_reg_date" 	property="prodRegDate"/>
	</resultMap>
	
	<delete id="removeProductBySellerId" parameterType="String">
		/* 판매자가 등록한 상품 삭제 */
		DELETE
			p
		FROM
			vendors v
			JOIN products p ON p.vend_cd = v.vend_cd
		WHERE
			v.vend_mbr_id = #{sellerId};
	</delete>	
		
	<select id="getProductList" resultMap="productResultMap">
		/* 상품목록조회 */
		SELECT 
			p.prod_cd, 
			p.vend_cd, 
			p.prod_name, 
			IFNULL(p.prod_untprc, 0) AS prod_untprc, 
			p.prod_reg_date
		FROM 
			products p
		ORDER BY
			p.prod_reg_date DESC;
	</select>
	
	<select id="getProductNameForComboBox" resultMap="productResultMap">
		/* 상품이름콤보박스 */
		SELECT
			p.prod_name
		FROM
			products p
		GROUP BY
			p.prod_name
		ORDER BY
			p.prod_reg_date DESC;
	</select>
	
	<insert id="addProduct" parameterType="Product">
		INSERT INTO products
			(
				prod_cd,
				vend_cd,
				prod_name,
				prod_untprc,
				prod_reg_date
			)
		VALUES
			(
				(SELECT
					CASE
					WHEN COUNT(1) = 0 THEN 'prod_1'
					ELSE
						CONCAT('prod_',
							MAX(CAST(SUBSTRING_INDEX(p.prod_cd, 'prod_', '-1') AS UNSIGNED)) +1
						)
					END AS newProductCode
				FROM
					product p),
				#{vendCd},
				#{prodName},
				#{prodUntPrc},
				CURDATE()
			);
	</insert>
</mapper>
