<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<meta charset="UTF-8">
	<title th:text="${title}">Nest Dashboard</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
	<!-- Template CSS -->
	<link href="/admin/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

</head>
<body>
	<div class="screen-overlay"></div>
	
	<!--/* 
		~{논리경로} : 
			prefix : /src/main/resources/templates/
			subifx : .html
	*/-->
	<!-- aside start -->
	<aside th:replace="~{admin/fragments/aside :: asideFragment}"></aside>
	<!-- aside end -->
	
	<main class="main-wrap">
		<!-- header start -->
		<header th:replace="~{admin/fragments/header :: headerFragment}"></header>
		<!-- header end -->
		
		<section class="content-main">
			<!-- contents strat -->
			<!--/* 삽입할 부분을 선언 */-->
			<th:block layout:fragment="contents"></th:block>
			<!-- contents end -->
		</section>
		
		<!-- footer start -->
		<footer th:replace="~{admin/fragments/footer :: footerFragment2}"></footer>
		<!-- footer end -->
	</main>
    <script th:src="@{/admin/assets/js/vendors/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/admin/assets/js/vendors/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/assets/js/vendors/select2.min.js}"></script>
    <script th:src="@{/admin/assets/js/vendors/perfect-scrollbar.js}"></script>
    <script th:src="@{/admin/assets/js/vendors/jquery.fullscreen.min.js}"></script>
    
    <!--/* 개발시 추가할 스크립트 파일 영역 정의 */-->
    <th:block layout:fragment="jsFile"></th:block>
    
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>
    <!--/* 개발시 추가할 스크립트 영역 정의 */-->
    <th:block layout:fragment="jsScript"></th:block>

</body>
</html>